{% extends 'ActualSkillAdminBundle::admin.html.twig' %}

{% block body %}

<div class="row">
    <div class="span16">
        <h1>Import players</h1>

        {% if data == null %}
            <form action="{{ path('admin_players_import') }}" method="post">
                <textarea class="xxlarge span16 autogrow" name="comment" rows="15" style="margin-bottom: 10px">{{data}}</textarea>
                <input type="submit" class="btn primary" value="Submit"/>   
            </form>
        {% else %}

        <form action="{{ path('admin_players_import') }}" method="post">
            <table>
            {% for row in data %}
                <tr>
                    <td><input type="checkbox" checked="checked" name="row[]" value="{{loop.index0}}" /></td>
                {% for column in row %}
                    <td><input type="input" value="{{ column }}" class="span2" name="col_data_{{loop.index0}}[]"/></td>
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
                
            <select name="club">
                {% for club in clubs %}
                    <option value="{{club.id}}">{{club.name}}</option>
                {% endfor %}
            </select>

            <input type="submit" class="btn primary" value="Submit"/>   
        </form>

        {% endif %}
    </div>
</div>

{% endblock %}
