<!doctype html> <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
    <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}ActualSkill{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {% block stylesheets %}
            {% stylesheets 
                '@ActualSkillSiteBundle/Resources/public/css/actualskill.css'
                '@ActualSkillSiteBundle/Resources/public/js/libs/jgrowl/jquery.jgrowl.css'
                output='css/site.css'
            %}

        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />

            {% endstylesheets %}
        {% endblock %}        

        {% block javascripts %} 

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

            {% javascripts
                '@ActualSkillSiteBundle/Resources/public/js/libs/bootstrap/bootstrap-modal.js'
                '@ActualSkillSiteBundle/Resources/public/js/libs/bootstrap/bootstrap-alerts.js'
                '@ActualSkillSiteBundle/Resources/public/js/libs/bootstrap/bootstrap-dropdown.js'
                '@ActualSkillSiteBundle/Resources/public/js/libs/bootstrap/bootstrap-scrollspy.js'
                '@ActualSkillSiteBundle/Resources/public/js/libs/bootstrap/bootstrap-tabs.js'
                '@ActualSkillSiteBundle/Resources/public/js/libs/bootstrap/bootstrap-twipsy.js'
                '@ActualSkillSiteBundle/Resources/public/js/libs/bootstrap/bootstrap-popover.js'
                '@ActualSkillSiteBundle/Resources/public/js/libs/jgrowl/jquery.jgrowl_minimized.js'
                output='css/site.js'
            %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block header %}

        {% endblock %}

    </head>
    <body>

        <!-- Topbar
            ================================================== -->
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container">
                    <div class="sixteen columns">
                        <a class="brand" href="{{ path('_welcome') }}">ActualSkill <small>beta</small></a>
                        <div class="mobile-nav show-on-phones">
                            <select>
                                <option>
                                    Clubs
                                </option>
                                <option>
                                    Players
                                </option>
                                <option>
                                    Matches
                                </option>
                            </select>
                        </div>
                        <ul class="nav show-on-desktops">
                {% block navigation %}
                                <li><a href="{{ path('site_clubs') }}">Clubs</a></li>
                                <li><a href="{{ path('site_players') }}">Players</a></li>
                                <li><a href="{{ path('_admin') }}">Admin</a></li>
                {% endblock %}
                            </ul>
                            <form action="" class="pull-left  show-on-desktops">
                                <input type="text" placeholder="Search">
                            </form>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <ul class="nav secondary-nav show-on-desktops">
                                <li class="dropdown" data-dropdown="dropdown">
                                    <a class="dropdown-toggle" href="#">{{app.user.firstname}} {{app.user.lastname}}</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Secondary link</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                {% else %}
                            <ul class="nav secondary-nav show-on-desktops">
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}">Login</a>
                                </li>
                            </ul>
                {% endif %}                            


                        </div>
                    </div><!-- container -->
                </div>
            </div>        

            <div class="body">
                <div class="container" >
                    {% block body %}
                    {% endblock %}
                </div><!-- container -->
            </div>
            <div class="footer">
                <div class="container">
                    {% block footer %}
                    {% endblock %}
                </div><!-- container -->
            </div>            

            <footer class="footer">
                <div class="container">
                    <p>
                        &copy; 2011 actualskill.com | Follow us on <a href="http://twitter.com/actualskill" target="_blank">Twitter</a> and <a href="http://facebook.com/actualskill" target="_blank">Facebook</a>.<br />
                    </p>
                </div>
            </footer>

            <script type="text/javascript">

                $(document).ready(function() {
                  $('#topbar').dropdown();
                  $('.tabs').tabs();
                });

                var uvOptions = {};
                (function() {
                    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
                    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/Ayf6t2K4fCVNy2RVhySTA.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
                })();
            </script>
    </body>
</html>