{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block header %}

<div class="frontpage">    
    <header class="jumbotron masthead">
      <div class="inner">
        <h1>Actual<em>Skill</em></h1>
        <p>Don't be a player hater - be a player rater!</p>
        
        <p class="actions">
          <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-large">Login to rate</a>
          <a href="{{ path('fos_user_registration_register') }}" class="btn btn-large">Join actualskill.com</a>
        </p>
      </div>
    </header>
</div> 
{% endblock %}

{% block body %}

<div class="frontpage">
    <div class="row">
        <div class="span4">
            <img class="feature-icon" src="{{ asset('bundles/actualskillsite/img/icons/glyphicons_043_group.png') }}"/>
            <h2>Football is fans</h2>
            <p>At the heart of football is fans. However, the public debate is run by experts in the media. But we have had enough of so-called experts. You're the expert!</p>
        </div>
        <div class="span4">
            <img class="feature-icon" src="{{ asset('bundles/actualskillsite/img/icons/glyphicons_355_announcement.png') }}"/>
            <h2>Express your opinion</h2>
            <p>ActualSkill lets you rate all things related to football. The skill and performance of players. The shape of your club. The value of goals. And so on.</p>
        </div>
        <div class="span4"> 
            <img class="feature-icon" src="{{ asset('bundles/actualskillsite/img/icons/glyphicons_040_Stats.png') }}"/>
            <h2>Track development</h2>           
            <p>Opinions are often tied to the fleeing moment. We want to capture the opinion of the masses and track how it develops over time.</p>
        </div>
    </div>

    <div class="row">
        <div class="span4"> 
            <img class="feature-icon" src="{{ asset('bundles/actualskillsite/img/icons/glyphicons_244_conversation.png') }}"/>
            <h2>Socialize and debate</h2>           
            <p>Who is the better player. What was the best goal. Which team plays the best football. Connect with friends and foes and bring your best argument to the table.</p>
        </div>

        <div class="span4"> 
            <img class="feature-icon" src="{{ asset('bundles/actualskillsite/img/icons/glyphicons_289_podium.png') }}"/>
            <h2>Toplists and rankings</h2>           
            <p>ActualSkill uses your ratings to generate toplists of the best players and clubs. You don't agree? Use your vote to change the result</p>
        </div>

        <div class="span4"> 
            <img class="feature-icon" src="{{ asset('bundles/actualskillsite/img/icons/glyphicons_280_settings.png') }}"/>
            <h2>Under development</h2>           
            <p>ActualSkill is currently under development. So please use the feedback button to report bugs or to submit comments and ideas for the future development.</p>
        </div>
    </div>
</div> 

{% endblock %}