{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@ActualSkillCoreBundle/Resources/public/js/jquery.autosuggester.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block jsbottom %}
<script language="javascript">

    var data = [
        {% for player in all_players %}
        { slug:"{{player.slug}}", name: "{{player.name}}", club: "{{player.club}}", country: "{{player.country.iso2|lower}}", rating: "{{player.averageRating}}" },
        {% endfor %}
    ];

    var autosuggester = new $.AutoSuggester($("#player_search"), data,{
        placeholderText: "Type the name of a player or club",
        searchObjProperties: ["name", "club"],
        formatResult: function(data){
            var path = "{{ asset('bundles/actualskillsite/img/flags/') }}";
            var label = "medium";
            if(data.rating > 7){
                label = "high";
            }else if(data.rating < 4){
                label = "low";
            }
            
            if(data.rating == ""){
                data.rating = "0.00";
            }

            return "<span class='label "+label+" label-average'>"+data.rating+"</span> "+data.name+" ("+data.club+") <img src='"+path+data.country+".png'/>";
        },
        onDataSelected: function(data){
            window.location = Routing.generate('player_show', { id: data.slug });
        }
    });

</script>
{% endblock %}

{% block body %}

{% for key, message in app.session.getFlashes() %}
<div class="{{ key }} alert alert-success">
    {{ message|trans({'%firstname%': app.user.firstname, '%lastname%': app.user.lastname }, 'FOSUserBundle')|raw }}
</div>
{% endfor %} 

<div class="well">
    <h1>Find a player</h1>
    <p>Search for your favourite player</p>
    <input id="player_search" type="text" class="wide search" placeholder="Type the name of a player"/>
</div>

<div class="row">
    <div class="span4">
        <h4 class="listheader">Best rated players</h4>
        <table class="table table-condensed table-list">
            {% if(best_players|length > 0) %}
                {% for player in best_players %}
                <tr>
                    <td class="rating" title="Average rating">
                        <span class="label {{rating2color(player.averageRating)}} label-average"> {{normalizeRating(player.averageRating)}}</span> 
                    </td>                                         
                    <td>
                        <a href="{{ path('player_show', { 'id': player.slug }) }}">{{ player.fullname }}</a> 
                        <div class="fans" title="Number of fans">
                            {{player.likes|length}} <i class="icon-user"></i>
                        </div>            
                    </td>                                  
                </tr>
                {% endfor %}
            {% else %}
                <tr><td>No players yet</td></tr>
            {% endif %}            
        </table>
    </div>     
    <div class="span4">
        <h4 class="listheader">Most rated players</h4>
        <table class="table table-condensed table-list">
            {% if(most_rated_players|length > 0) %}
                {% for player in most_rated_players %}
                <tr>
                    <td class="rating" title="Average rating">
                        <span class="label {{rating2color(player.averageRating)}} label-average"> {{normalizeRating(player.averageRating)}}</span> 
                    </td>                                         
                    <td>               
                        <a href="{{ path('player_show', { 'id': player.slug }) }}">{{ player.fullname }}</a> 
                        <div class="fans" title="Number of fans">
                            {{player.likes|length}} <i class="icon-user"></i>
                        </div>
                    </td>                                  
                </tr>
                {% endfor %}
            {% else %}
                <tr><td>No players yet</td></tr>
            {% endif %}             
        </table>
    </div>  
    <div class="span4">
        <h4 class="listheader">Players with most fans</h4>
        <table class="table table-condensed table-list">
            {% if(popular_players|length > 0) %}
                {% for player in popular_players %}
                <tr>
                    <td class="rating" title="Average rating">
                        <span class="label {{rating2color(player.averageRating)}} label-average"> {{normalizeRating(player.averageRating)}}</span> 
                    </td>                                        
                    <td>
                        <a href="{{ path('player_show', { 'id': player.slug }) }}">{{ player.fullname }}</a> 
                        <div class="fans" title="Number of fans">
                            {{player.likes|length}} <i class="icon-user"></i>
                        </div>                    
                    </td>                                  
                </tr>
                {% endfor %}
            {% else %}
                <tr><td>No players yet</td></tr>
            {% endif %}             
        </table>
    </div>     
</div>
{% endblock %}