{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('_welcome') }}">Home</a> <span class="divider">/</span></li>
    <li><a href="{{ path('site_clubs') }}">Clubs</a> <span class="divider">/</span></li>
    <li>{{ player.fullname }}</li>
{% endblock %}

{% block body %}

<div class="row">
    <div class="span-16">
        <h1>{{ player.fullname }} ({{player.age}} years)</h1>
        <h5>Height: {{player.height}} Weight: {{player.weight}} </h5>
    </div>
</div>

<div class="row">
    <div class="span-16">
        <ul class="tabs">
            {% for category in categories %}
                {% if category.slug == "technical" %}
                    <li class="active"><a href="#{{category.slug}}">{{category.name}}</a></li>
                {% else %}
                    <li><a href="#{{category.slug}}">{{category.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for category in categories %}

                {% if category.slug == "technical" %}
                    <div id="{{category.slug}}" class="active">
                {% else %}
                    <div id="{{category.slug}}">
                {% endif %}

                    {% for attribute in category.attributes %}
                        <div class="rating">
                          <ul>
                            <li class="attribute"><span title="{{ attribute.description }}">{{ attribute.name }} {{ attribute.numberOfRatings }}</span></li>
                            
                            {% for i in 1..10 %}
                                {% if attribute.userRating == i %}
                                <li class="active"><a href="#">{{ i }}</a></li>
                                {% else %}
                                <li><a href="#">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if attribute.userRating != null %}
                                <li class="totalrating"><span>{{ attribute.averageRating }}</span></li>
                            {% else %}
                                <li class="totalrating"><span class="tooltip" title="You need to rate before you can see the average">?</span></li>
                            {% endif %}                            
                            
                          </ul>
                        </div>
                    {% endfor %} 
                </div>
            {% endfor %}
        </div>           
    </div>
</div>
    
  <script>
    $(function () {
      $(".attribute span").twipsy({
        live: true
      })
      $(".tooltip").twipsy({
        live: true,
        placement: "right"
      })
    })
  </script>

{% endblock %}