{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        '@ActualSkillCoreBundle/Resources/public/js/jquery.autogrowtextarea.js'
        '@ActualSkillCoreBundle/Resources/public/js/highcharts.js'
    %}    
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    

{% endblock %}

{% block header %}
<script language="javascript"> 
    
    
    var chart;
    $(document).ready(function() {     
        
        $(".autogrow").autogrow({
            
        });
           
        $('#likebutton').click(function() {   
            
            console.log("like button!");
            
            $.post("/like/{{player.slug}}", function(data) {
               // first success
            })
            .success(function(data) {
                data = jQuery.parseJSON(data);
                
                if(data.like){
                    $('#likebutton a').html("unlike");
                    $.jGrowl("You like {{player.name}}", { life: 1000 });
                }else{
                    $('#likebutton a').html("like");
                }
            })
            .error(function() {})
            .complete(function() {});

            return false;
        });        
        
        $('.btncomment').click(function() {  
            var textarea = $(this).siblings('textarea');
            var comment = textarea.val();

            // If comment is empty. Abandon!
            if(jQuery.trim( comment ) == ""){
                return;
            }

            var dataString = 'comment='+comment;  
            $.post("/comment/create/{{player.slug}}", dataString, function(data) {
               // first success
            })
            .success(function(data) {
                data = jQuery.parseJSON(data);
                console.log(data);
                $("#comments").prepend(data.comment);
                textarea.val("");
                textarea.blur();
            })
            .error(function() {})
            .complete(function() {});

            return false;
        });

        $('.ratingbox').bind('click', function() {
            $('#myModal').modal();
        }); 

        $('.rateclick').bind('click', function() {
            
            var attribute = this.id.split("_")[0];
            var id = this.id.split("_")[1];
            var value = $(this).html();
            
            $(this).parent().find('.rateclick').removeClass('active');

            $.post("/rate/{{player.slug}}/"+attribute+"/"+value, function(data) {
               // first success
                data = jQuery.parseJSON(data);
            })
            .success(function(data) {
                data = jQuery.parseJSON(data);

                /*
                var el = $("#"+data.slug+"_"+data.id).parent().find(".totalrating span");
                
                el.fadeOut('fast', function() {
                    $(this).parent().removeClass('secret');
                    $(this).html(data.average);
                    $(this).fadeIn('fast');
                });
                */
                $.jGrowl("You rated "+data.name, { life: 1000 });

                //$("#"+data.slug+"_"+data.id).parent().find(".totalrating span").html(data.average)
            })
            .error(function() {})
            .complete(function() {
               
            });

            
            $(this).addClass('active');

            return false;
        });  
        
        var data = [];
        var categories = [];
        
        {% for statsheet in player.statsheets %}
            data.push({{statsheet.attributeRatingWeighted}})
            categories.push("{{statsheet.createdAt|date("d. M", "Europe/Copenhagen")}}");
        {% endfor %}
        
        chart1 = new Highcharts.Chart({
            chart: {
                renderTo: 'chart',
                type: 'line',
                marginTop: 0,
                spacingTop: 0,
                spacingLeft: 0,
                spacingRight: 0,
            },
            legend: {
                align: 'center',
                verticalAlign: 'bottom',
                y: 0,
                floating: false,
                borderWidth: 0
            },         
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            xAxis: {
                tickInterval: categories.length-1,
                categories: categories
            },
            yAxis: {
                max: 10,
                min: 0,
                tickInterval: 2,
                gridLineWidth: 1,
                gridLineDashStyle: "dot",
                title: {
                    text: ''
                },
                labels:
                {
                  enabled: false
                },                
                plotBands: [{
                    from: 0,
                    to: 2,
                    color: 'rgba(68, 170, 213, 0.1)',
                    label: {
                        text: 'Amateur Class',
                        style: {
                            color: 'rgba(68, 170, 213, 0.3)',
                            fontWeight: 'bold',
                            fontSize: "8px"
                        } 
                    },
                },{    
                    from: 2,
                    to: 4,
                    color: 'rgba(68, 170, 213, 0.1)',
                    label: {
                        text: 'Local Class',
                        style: {
                            color: 'rgba(68, 170, 213, 0.3)',
                            fontWeight: 'bold',
                            fontSize: "8px"
                        } 
                    }                    
                },{    
                    from: 4,
                    to: 6,
                    color: 'rgba(68, 170, 213, 0.1)',
                    label: {
                        text: 'National Class',
                        style: {
                            color: 'rgba(68, 170, 213, 0.3)',
                            fontWeight: 'bold',
                            fontSize: "8px"
                        } 
                    }                    
                },{    
                    from: 6,
                    to: 8,
                    color: 'rgba(68, 170, 213, 0.1)',
                    label: {
                        text: 'Regional Class',
                        style: {
                            color: 'rgba(68, 170, 213, 0.3)',
                            fontWeight: 'bold',
                            fontSize: "8px"
                        } 
                    }                    
                },{    
                    from: 8,
                    to: 10,
                    color: 'rgba(68, 170, 213, 0.1)',
                    label: {
                        text: 'World Class',
                        style: {
                            color: 'rgba(68, 170, 213, 0.3)',
                            fontWeight: 'bold',
                            fontSize: "8px"
                        }                        
                    }                    
                }]                
            },
            tooltip: {
                shared: true
            },
            series: [{
                name: 'Skills',
                type: 'spline',
                data: data
            }]       
        });        
        
    });

</script> 
{% endblock %}

{% block body %}


<div class="page-header">
    <h1>{{ player.fullname }} <img src="{{ asset('bundles/actualskillsite/img/flags/') }}{{player.country.iso2}}.png"/> <small><span id="likebutton"><a href="#">{% if likes == true %} Unlike {% else %} Like {% endif %}</a></span></small></h1>
    <h2><a href="{{ path('site_club_show', { 'id': player.club.slug }) }}">{{ player.club.name }}</a> <small>Age: {{player.age}}, Height: {{player.height}}cm, Weight: {{player.weight}}kg</small></h2>				        
</div>
<div class="row">

        
    <div class="span8">
        <div id="chart" style="height:200px; width: 100%"></div>
        
        <div class="row">
            {% for category in categories %}

                    <div id="{{category.slug}}" class="span2">
                        <h3>{{category.name}}</h3>
                    {% for attribute in category.attributes %}

                        <div title="{{ attribute.description }}" class="ratingbox">
                            <div class="description">
                                {{ attribute.name }}                             
                            </div>

                            <div class="ratingbuttons">                            
                                {% for i in 1..10 %}
                                    {% if attribute.userRating == i %}
                                    <div id="{{attribute.slug}}_{{attribute.id}}" class="active rateclick ratingbutton">{{i}}</div>
                                    {% else %}
                                    <div id="{{attribute.slug}}_{{attribute.id}}" class="rateclick ratingbutton">{{i}}</div>
                                    {% endif %}
                                {% endfor %}                                                             
                            </div>    
                            <div class="progress">
                                <div class="bar" style="width:{{(attribute.averageRating/10)*100}}%;"></div>
                            </div>                             
                        </div>    
                    {% endfor %} 
                </div>
            {% endfor %}                         
        </div>        
        
    </div>                
        
        
    <div class="span4">
        <!--
        <div class="five columns statcontainer">
            <div class="stats">
                <span class="statbox">
                    ActualSkill
                    <span class="number">{{ player.ratingAverage }}</span>
                </span>						
                <span class="statbox">
                    Skills
                    <span class="number">{{ player.ratingAverage }}</span>
                </span>
                <span class="statbox">
                    Form
                    <span class="number">0</span>
                </span>
            </div>					
        </div>        
        -->
        
        <h4>Team members in {{ player.club }}</h4>
        <table class="table table-condensed table-striped">
            {% for teammember in player.club.players %}
                {% if teammember.id != player.id %}
            <tr>
                <td><span class="label label-success"> {{teammember.ratingAverage}}</span> <a href="{{ path('player_show', { 'id': teammember.slug }) }}">{{ teammember.fullname }}</a></td>
            </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>        
</div>
        
<div class="row">
    <div class="span12">
        {% for position in positions %}
            
            {% if position.category == "defence" %}
            <span style="color:red">{{position.name}} ({{position.shortname}})</span>
            {% elseif position.category == "midfield" %}
            <span style="color:blue">{{position.name}} ({{position.shortname}})</span>
            {% elseif position.category == "attack" %}
            <span style="color:green">{{position.name}} ({{position.shortname}})</span>
            {% endif %}
            <br />
        {% endfor %}   
    </div>
</div>        
        
<div class="row">
    <div class="span12">
        <h2>Comments</h2>
        <textarea class="xxlarge span16 autogrow" name="comment" rows="1"></textarea>
        <input type="submit" class="btn primary btncomment" value="Submit"/>    
        
        <div id="comments">
        {% for comment in player.comments %}
            <div>
                <span><strong>{{comment.user.fullname}}</strong></span><br/>
                <span>{{comment.comment}}</span><br/>
                <span><small>{{comment.createdAt|date("m/d/Y")}}</small></span>
            </div>
        {% endfor %}
        </div>        
    </div>
    
</div>
<div id="myModal" class="modal hide" style="display: none; ">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Modal Heading</h3>
            </div>
            <div class="modal-body">
              <h4>Text in a modal</h4>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>

              <h4>Popover in a modal</h4>
              <p>This <a href="#" class="btn popover-test" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">button</a> should trigger a popover on hover.</p>

              <h4>Tooltips in a modal</h4>
              <p><a href="#" class="tooltip-test" data-original-title="Tooltip">This link</a> and <a href="#" class="tooltip-test" data-original-title="Tooltip">that link</a> should have tooltips on hover.</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-primary">Save changes</a>
              <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
</div>
{% endblock %}