{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        '@ActualSkillCoreBundle/Resources/public/js/jquery.autogrowtextarea.js'
        '@ActualSkillCoreBundle/Resources/public/js/highcharts.js'
    %}    
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    

{% endblock %}

{% block header %}
<script language="javascript"> 
    
    
    var chart;
    $(document).ready(function() {     
        
        $(".autogrow").autogrow({
            
        });
           
        $('#likebutton').click(function() {   
            
            console.log("like button!");
            
            $.post("/like/{{player.slug}}", function(data) {
               // first success
            })
            .success(function(data) {
                data = jQuery.parseJSON(data);
                
                if(data.like){
                    $('#likebutton a').html("unlike");
                    $.jGrowl("You like {{player.name}}", { life: 1000 });
                }else{
                    $('#likebutton a').html("like");
                }
            })
            .error(function() {})
            .complete(function() {});

            return false;
        });        
        
        $('.btncomment').click(function() {  
            var textarea = $(this).siblings('textarea');
            var comment = textarea.val();

            // If comment is empty. Abandon!
            if(jQuery.trim( comment ) == ""){
                return;
            }

            var dataString = 'comment='+comment;  
            $.post("/comment/create/{{player.slug}}", dataString, function(data) {
               // first success
            })
            .success(function(data) {
                data = jQuery.parseJSON(data);
                console.log(data);
                $("#comments").prepend(data.comment);
                textarea.val("");
                textarea.blur();
            })
            .error(function() {})
            .complete(function() {});

            return false;
        });

        $('.rateclick').bind('click', function() {
            
            var attribute = this.id.split("_")[0];
            var id = this.id.split("_")[1];
            var value = $(this).find('a').html();

            $(this).parent().find('.rateclick').removeClass('active');

            $.post("/rate/{{player.slug}}/"+attribute+"/"+value, function(data) {
               // first success
                data = jQuery.parseJSON(data);
            })
            .success(function(data) {
                data = jQuery.parseJSON(data);

                var el = $("#"+data.slug+"_"+data.id).parent().find(".totalrating span");
                //el.html(data.average);
                
                el.fadeOut('fast', function() {
                    $(this).parent().removeClass('secret');
                    $(this).html(data.average);
                    $(this).fadeIn('fast');
                });

                $.jGrowl("You rated "+data.name, { life: 1000 });

                //$("#"+data.slug+"_"+data.id).parent().find(".totalrating span").html(data.average)
            })
            .error(function() {})
            .complete(function() {
               
            });

            
            $(this).addClass('active');

            return false;
        });  
        
        var data = [];
        var categories = [];
        
        {% for statsheet in player.statsheets %}
            data.push({{statsheet.attributeRatingWeighted}})
            categories.push("{{statsheet.createdAt|date("d. M", "Europe/Copenhagen")}}");
        {% endfor %}
        
        chart1 = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line'
            },
            legend: {
                align: 'left',
                verticalAlign: 'top',
                y: 0,
                floating: true,
                borderWidth: 0
            },         
            title: {
                text: 'Player Development'
            },
            credits: {
                enabled: false
            },
            xAxis: {
                tickInterval: 1,
                categories: categories
            },
            yAxis: {
                max: 10,
                min: 0,
                tickInterval: 2,
                gridLineWidth: 1,
                gridLineDashStyle: "dot",
                title: {
                    text: ''
                },
                plotBands: [{
                    from: 0,
                    to: 2,
                    color: 'rgba(68, 170, 213, 0.1)',
                    label: {
                        text: 'Amateur Class',
                        style: {
                            color: 'black',
                            fontWeight: 'bold',
                            fontSize: "8px"
                        } 
                    },
                },{    
                    from: 2,
                    to: 4,
                    color: 'rgba(68, 170, 213, 0.1)',
                    label: {
                        text: 'Local Class',
                        style: {
                            color: 'black',
                            fontWeight: 'bold',
                            fontSize: "8px"
                        } 
                    }                    
                },{    
                    from: 4,
                    to: 6,
                    color: 'rgba(68, 170, 213, 0.1)',
                    label: {
                        text: 'National Class',
                        style: {
                            color: 'black',
                            fontWeight: 'bold',
                            fontSize: "8px"
                        } 
                    }                    
                },{    
                    from: 6,
                    to: 8,
                    color: 'rgba(68, 170, 213, 0.1)',
                    label: {
                        text: 'Regional Class',
                        style: {
                            color: 'black',
                            fontWeight: 'bold',
                            fontSize: "8px"
                        } 
                    }                    
                },{    
                    from: 8,
                    to: 10,
                    color: 'rgba(68, 170, 213, 0.1)',
                    label: {
                        text: 'World Class',
                        style: {
                            color: 'black',
                            fontWeight: 'bold',
                            fontSize: "8px"
                        }                        
                    }                    
                }]                
            },
            tooltip: {
                shared: true
            },
            series: [{
                name: 'Skills',
                type: 'spline',
                data: data
            }]       
        });        
        
    });

</script> 
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('_welcome') }}">Home</a> <span class="divider">/</span></li>
    <li><a href="{{ path('site_clubs') }}">Clubs</a> <span class="divider">/</span></li>
    <li>{{ player.fullname }}</li>
{% endblock %}

{% block body %}

<div class="page-header">
    <h1>{{ player.fullname }} <small><span id="likebutton"><a href="#">{% if likes == true %} Unlike {% else %} Like {% endif %}</a></span></small></h1>
</div>    
    
<div class="row">
    <div class="span3">
        
        <img class="thumbnail" src="http://placehold.it/160x160" alt="">

    </div>
    <div class="span6">
        <h2><a href="{{ path('site_club_show', { 'id': player.club.slug }) }}">{{ player.club.name }}</a></h2>       
        
        <h5>Age: {{player.age}}, Height: {{player.height}}, Weight: {{player.weight}} </h5>
        <h5>Total skill: {{ player.ratingAverage }}</h5>
    </div>              
</div> 
    
<div class="row">
    <div class="span16">
        <div id="container" style="height:200px; width: 100%"></div>
    </div>  
</div>    
    
<div class="row">
    <div class="span16">
        <ul class="pills" data-pills="pills">
            {% for category in categories %}
                {% if category.slug == "technical" %}
                    <li class="active"><a href="#{{category.slug}}">{{category.name}}</a></li>
                {% else %}
                    <li><a href="#{{category.slug}}">{{category.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="pill-content">
            {% for category in categories %}

                {% if category.slug == "technical" %}
                    <div id="{{category.slug}}" class="active">
                {% else %}
                    <div id="{{category.slug}}">
                {% endif %}
                    
                    {% for attribute in category.attributes %}
                        <div class="rating">
                          <ul>
                            <li class="attribute"><span title="{{ attribute.description }}">{{ attribute.name }}</span></li>

                            {% for i in 1..10 %}
                                {% if attribute.userRating == i %}
                                <li id="{{attribute.slug}}_{{attribute.id}}" class="active rateclick"><a href="#">{{ i }}</a></li>
                                {% else %}
                                <li id="{{attribute.slug}}_{{attribute.id}}" class="rateclick"><a href="#">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            <li class="totalrating" title="{{ attribute.numberOfRatings }}"><span>{{ attribute.averageRating }}</span></li>
                            
                          </ul>
                        </div>
                    {% endfor %} 

                </div>
            {% endfor %}
        </div>           
    </div>
</div>
    
        
<div class="row">
    <div class="span16">
        {% for position in positions %}
            
            {% if position.category == "defence" %}
            <span style="color:red">{{position.name}} ({{position.shortname}})</span>
            {% elseif position.category == "midfield" %}
            <span style="color:blue">{{position.name}} ({{position.shortname}})</span>
            {% elseif position.category == "attack" %}
            <span style="color:green">{{position.name}} ({{position.shortname}})</span>
            {% endif %}
            <br />
        {% endfor %}   
    </div>
</div>        
        
<div class="row">
    <div class="span16">
        <h2>Comments</h2>
        <textarea class="xxlarge span16 autogrow" name="comment" rows="1"></textarea>
        <input type="submit" class="btn primary btncomment" value="Submit"/>    
        
        <div id="comments">
        {% for comment in player.comments %}
            <div>
                <span><strong>{{comment.user.fullname}}</strong></span><br/>
                <span>{{comment.comment}}</span><br/>
                <span><small>{{comment.createdAt|date("m/d/Y")}}</small></span>
            </div>
        {% endfor %}
        </div>        
    </div>
    
</div>

  <script>
    $(function () {
      $(".attribute span").twipsy({
        live: true
      })
      $(".tooltip").twipsy({
        live: true,
        placement: "right"
      })
    })
  </script>

{% endblock %}