<h1>Player</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Nickname</th>
            <td>{{ entity.nickname }}</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>{{ entity.birthday|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Height</th>
            <td>{{ entity.height }}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{ entity.weight }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('player') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('player_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('player_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
