{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        '@ActualSkillSharedEntityBundle/Resources/public/js/highcharts/highcharts.js'
    %}    
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    

{% endblock %}

{% block header %}
<script language="javascript"> 
    $(document).ready(function() {
        $('.rateclick').bind('click', function() {
            
            var attribute = this.id.split("_")[0];
            var id = this.id.split("_")[1];
            var value = $(this).find('a').html();

            $(this).parent().find('.rateclick').removeClass('active');

            $.post("/web/app_dev.php/rate/{{player.slug}}/"+attribute+"/"+value, function(data) {
               // first success
                data = jQuery.parseJSON(data);
            })
            .success(function(data) {
                data = jQuery.parseJSON(data);

                var el = $("#"+data.slug+"_"+data.id).parent().find(".totalrating span");
                //el.html(data.average);
                
                el.fadeOut('fast', function() {
                    $(this).parent().removeClass('secret');
                    $(this).html(data.average);
                    $(this).fadeIn('fast');
                });


                //$("#"+data.slug+"_"+data.id).parent().find(".totalrating span").html(data.average)
            })
            .error(function() {})
            .complete(function() {
               
            });

            
            $(this).addClass('active');

            return false;
        });
    });

var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'chart',
         defaultSeriesType: 'line',
         marginRight: 0,
         marginBottom: 25,
         height: 250,
         width: 600
      },
      title: {
         text: 'Player development',
         x: -20 //center
      },
      subtitle: {
         text: '',
         x: -20
      },
      xAxis: {
         categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      },
      yAxis: {
         title: {
            text: 'Rating'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y + ' average';
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: 100,
         y: 100,
         borderWidth: 0
      },
      series: [{
         name: 'Technical',
         data: [7.0, 6.9, 7, 7, 7.1, 7.2, 7.2, 7.1, 7.4, 7.6, 7.2, 6.5]
      }, {
         name: 'Physical',
         data: [2.0, 2.9, 2, 2, 3.1, 3.2, 3.5, 4.1, 4.4, 4.6, 5.2, 6.5]
      }, {
         name: 'Mentality',
         data: [4.0, 4.3, 4.3, 5, 4.8, 5.2, 5, 5, 5, 5.5, 6, 7]
      }]
   });
   
   
});

</script> 
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('_welcome') }}">Home</a> <span class="divider">/</span></li>
    <li><a href="{{ path('site_clubs') }}">Clubs</a> <span class="divider">/</span></li>
    <li>{{ player.fullname }}</li>
{% endblock %}

{% block body %}

<div class="row">
    <div class="span-16">
        <h1>{{ player.fullname }} ({{player.age}} years)</h1>
        <h5>Height: {{player.height}} Weight: {{player.weight}} </h5>
    </div>
</div>

<div class="row">
    <div class="span-16">
        <ul class="tabs">
            <li class="active"><a href="#chart">Development</a></li>
            {% for category in categories %}
                {% if category.slug == "technical" %}
                    <li><a href="#{{category.slug}}">{{category.name}}</a></li>
                {% else %}
                    <li><a href="#{{category.slug}}">{{category.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content">
            <div id="chart" class="active"></div>
            {% for category in categories %}

                {% if category.slug == "technical" %}
                    <div id="{{category.slug}}">
                {% else %}
                    <div id="{{category.slug}}">
                {% endif %}

                    
                    {% for attribute in category.attributes %}
                        <div class="rating">
                          <ul>
                            <li class="attribute"><span title="{{ attribute.description }}">{{ attribute.name }}</span></li>

                            {% for i in 1..10 %}
                                {% if attribute.userRating == i %}
                                <li id="{{attribute.slug}}_{{attribute.id}}" class="active rateclick"><a href="#">{{ i }}</a></li>
                                {% else %}
                                <li id="{{attribute.slug}}_{{attribute.id}}" class="rateclick"><a href="#">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            <li class="totalrating" title="{{ attribute.numberOfRatings }}"><span>{{ attribute.averageRating }}</span></li>
                            
                          </ul>
                        </div>
                    {% endfor %} 

                </div>
            {% endfor %}
        </div>           
    </div>
</div>
    
  <script>
    $(function () {
      $(".attribute span").twipsy({
        live: true
      })
      $(".tooltip").twipsy({
        live: true,
        placement: "right"
      })
    })
  </script>

{% endblock %}