{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('_welcome') }}">Home</a> <span class="divider">/</span></li>
    <li><a href="{{ path('site_clubs') }}">Clubs</a> <span class="divider">/</span></li>
    <li>{{ player.fullname }}</li>
{% endblock %}

{% block body %}


<div class="row">
    <div class="span-16">
        <h1>{{ player.fullname }} ({{player.age}} years)</h1>
        <h5>Height: {{player.height}} Weight: {{player.weight}} </h5>
    </div>
</div>

<div class="row">
    <div class="span-16">
        <ul class="tabs">
            <li class="active"><a href="#physical">Physical</a></li>
            <li><a href="#technical">Technical</a></li>
            <li><a href="#tactical">Tactical</a></li>
            <li><a href="#mentality">Mentality</a></li>
        </ul>

        <div class="tab-content">
            <div id="physical" class="active">
                {% for attribute in attributes %}
                    <div class="rating">
                      <ul>
                        <li class="attribute"><span title="{{ attribute.description }}">{{ attribute.name }}</span></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                        <li class="totalrating"><span>10.00</span></li>
                      </ul>
                    </div>
                {% endfor %} 
            </div>
            <div id="technical">...</div>
            <div id="tactical">...</div>
            <div id="mentality">...</div>
        </div>           
    </div>
</div>
    
  <script>
    $(function () {
      $(".attribute span").twipsy({
        live: true
      })
    })
  </script>

{% endblock %}