{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('_welcome') }}">Home</a> <span class="divider">/</span></li>
    <li><a href="{{ path('site_clubs') }}">Clubs</a> <span class="divider">/</span></li>
    <li>{{ player.fullname }}</li>
{% endblock %}

{% block body %}

<div class="row">
    <div class="span-16">
        <h1>{{ player.fullname }} ({{player.age}} years)</h1>
        <h5>Height: {{player.height}} Weight: {{player.weight}} </h5>


        {% for value in userratings %}
            {% for val in value %}
                {{ val }}
            {% endfor %}
            <br/>
        {% endfor %}

    </div>
</div>

<div class="row">
    <div class="span-16">
        <ul class="tabs">
            {% for category in categories %}
                {% if category.slug == "technical" %}
                    <li class="active"><a href="#{{category.slug}}">{{category.name}}</a></li>
                {% else %}
                    <li><a href="#{{category.slug}}">{{category.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for category in categories %}

                {% if category.slug == "technical" %}
                    <div id="{{category.slug}}" class="active">
                {% else %}
                    <div id="{{category.slug}}">
                {% endif %}

                    {% for attribute in category.attributes %}
                        <div class="rating">
                          <ul>
                            <li class="attribute"><span title="{{ attribute.description }}">{{ attribute.name }}</span></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li class="totalrating"><span class="tooltip" title="You need to rate before you can see the average">?</span></li>
                          </ul>
                        </div>
                    {% endfor %} 
                </div>
            {% endfor %}
        </div>           
    </div>
</div>
    
  <script>
    $(function () {
      $(".attribute span").twipsy({
        live: true
      })
      $(".tooltip").twipsy({
        live: true,
        placement: "right"
      })
    })
  </script>

{% endblock %}