<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}ActualSkill{% endblock %}</title>

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>

        {% javascripts

        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets
            'bundles/actualskillcore/bootstrap/css/bootstrap.min.css'
            output='css/styles.css'%}

            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />

        {% endstylesheets %}
    </head>
    <body>

<div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                        <a class="brand" href="{{ path('_welcome') }}">ActualSkill <small>beta</small></a>
                    <div class="nav-collapse">
                        <ul class="nav">
                        {% block navigation %}
                            <li><a href="{{ path('admin_clubs') }}">Clubs</a></li>
                            <li><a href="{{ path('admin_players') }}">Players</a></li>
                            <li><a href="{{ path('admin_ratingschema') }}">Rating Schema</a></li>
                            <li><a href="{{ path('admin_categories') }}">Categories</a></li>
                            <li><a href="{{ path('admin_attributes') }}">Attributes</a></li>
                            <li><a href="{{ path('_welcome') }}">Site</a></li>
                        {% endblock %}
                        </ul>
                        <ul class="nav pull-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{app.user.firstname}} {{app.user.lastname}}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}">Show profile</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">Login</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="span-16">
                    <ul class="breadcrumb">
                      <li><a class="active" href="#">Home</a> <span class="divider">/</span></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="span-16">
                   {% block header %}

                    {% endblock %}
                </div>
            </div>

            <div class="row">
                <div class="span-16">
                  {% block body %}{% endblock %}
                </div>
            </div>

            <div class="row">
                <div class="span-16">
                  {% block footer %}{% endblock %}
                </div>
            </div>

        </div>  <!-- /container -->

        <footer class="footer">
          <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>
                &copy; 2011 actualskill.com | Follow us on <a href="http://twitter.com/actualskill" target="_blank">Twitter</a> and <a href="http://facebook.com/actualskill" target="_blank">Facebook</a>.<br />
            </p>
          </div>
        </footer>
    </body>
</html>